### SBT template
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.cache
.lib/

### Scala template
*.log

# IntelliJ
/out/
.idea/
.gitignore
app/views/
public/

# Mac OS
.DS_Store

# Downloaded test fixtures
benchmarks/src/test/resources/hg38.fa
